{% extends "auctions/layout.html" %}

{% block body %}
<h2 class="py-3 m-3 first">Listado de vehiculos a subastar</h2>

<div class="items-list">
    {% for obj in objects %}
    <a href="{% url 'details' obj.id %}">
        <div class="item text-center" {% if obj.active != True %}style="background-color: rgba(255, 220, 220, 0.7);"
            {% endif %}>
            <img src="{{ obj.imageUrl }}" alt="Loading...">
            <div class="details">
                <h5>{{ obj.name }} {{obj.model}} {{obj.year}} </h5>
                <h6>Tipo: <strong>{{ obj.type_vehiculo }}</strong></h6>
                <h6>Precio: $<strong>{{ obj.startBid }}</strong></h6>
                <small>Creado: <strong>{{ obj.date|date:"d-m-Y" }}</strong></small><br>
                {% if obj.active %}
                <span class="badge status--active">Activo</span>
                {% else %}
                <span class="badge status--inactive">Inactivo</span>
                {% endif %}
                {% if obj in user.watchlist.all %}
                <span class="badge status--watching">Visto</span>
                {% else %}
                <span class="badge status--notwatching">No Visto</span>
                {% endif %}
            </div>
        </div>
    </a>
    {% empty %}
    <div class="alert alert-info text-center p-4 my-4 mx-2">No hay artículos disponibles</div>
    {% endfor %}
</div>
{% endblock %}